// Theme 1

// Backgrounds
$main-bg-1: hsl(222, 26%, 31%);
$toggle-keypad-bg-1: hsl(223, 31%, 20%);
$screen-bg-1: hsl(224, 36%, 15%);

// Keys
$key-bg-blue-1: hsl(225, 21%, 49%);
$key-shadow-blue-1: hsl(224, 28%, 35%);

$key-bg-red-1: hsl(6, 63%, 50%);
$key-shadow-red-1: hsl(6, 70%, 34%);

$key-bg-orange-1: hsl(30, 25%, 89%);
$key-shadow-orange-1: hsl(28, 16%, 65%);

// Text
$text-blue-1: hsl(221, 14%, 31%);
$text-white-1: hsl(0, 0%, 100%);

// Theme 2

// Backgrounds
$main-bg-2: hsl(0, 0%, 90%);
$toggle-keypad-bg-2: hsl(0, 5%, 81%);
$screen-bg-2: hsl(0, 0%, 93%);

// Keys
$key-bg-cyan-2: hsl(185, 42%, 37%);
$key-shadow-cyan-2: hsl(185, 58%, 25%);

$key-bg-orange-2: hsl(25, 98%, 40%);
$key-shadow-orange-2: hsl(25, 99%, 27%);

$key-bg-yellow-2: hsl(45, 7%, 89%);
$key-shadow-yellow-2: hsl(35, 11%, 61%);

// Text
$text-yellow-2: hsl(60, 10%, 19%);
$text-white-2: hsl(0, 0%, 100%);

// Theme 3

// Backgrounds
$main-bg-3: hsl(268, 75%, 9%);
$toggle-keypad-screen-bg-3: hsl(268, 71%, 12%);

// Keys
$key-bg-violet-3: hsl(281, 89%, 26%);
$key-shadow-violet-3: hsl(285, 91%, 52%);

$key-bg-cyan-3: hsl(176, 100%, 44%);
$key-shadow-cyan-3: hsl(177, 92%, 70%);

$key-background-dark-violet-3: hsl(268, 47%, 21%);
$key-shadow-dark-violet-3: hsl(290, 70%, 36%);

// Text

$text-yellow-3: hsl(52, 100%, 62%);
$text-blue-3: hsl(198, 20%, 13%);
$text-white-3: hsl(0, 0%, 100%);